* {
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;

}
body {
    width: 100%;
    background-color: #dcfff3;


}
.movie {
			float:left;
			width:300px;
            height: 500px;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            background-color: #78ceb0;
            border: 2px black solid;
            border-radius: 15px;
    
        }
        
#movieWindow {
		display: none;
        position: fixed;
        top: 100px;
        right: 300px;
        left: auto;
		background: rgba(143, 241, 207, 0.9);
		width: 900px;
        height: 600px;
        border: 2px black solid;
        border-radius: 15px;
}

#shut {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: black;
    color: red;
    font-size: 30px;
    cursor: pointer;
}
#movieWindow.appear {
	display: block;
}
#movieWindow p {
    padding: 5px;
    padding-left: 30px;
}

aside {
    float:left;
    width: 25%;
    text-decoration: none;

}
aside ul li a {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 30px;
    list-style-type: none;
    background-color: rgb(120, 206, 176);
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 15px;


}

main {
    float: left;
    width: 75%;
    background-color: #dcfff3;
}