<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Movie DB</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

</head>
<body>
	<script id="genres-template" type="x-tmpl-mustache">
		{{#genres}}
			<li class="link"><a href="#!{{.}}">{{.}}</a></li>
		{{/genres}}
	</script>

	<script id="movies-template" type="x-tmpl-mustache">
		{{#movies}}
			<div class="movie">
				<center><img src="{{posterUrl}}" width="300px" height="auto" alt="poster"></center>
				<h3><center>{{title}} ({{year}})</center></h3>
			</div>
		{{/movies}}
	</script>

	<script id="movieWindow-template" type="x-tmpl-mustache">

		{{#movies}}
		<h3><center>{{title}} ({{year}})</center></h3>

		<center><img src="{{posterUrl}}" width="250px" height="auto" alt="poster"></center>
		<p><strong>Runtime: </strong>{{runtime}} minutes</p>
		<p><strong>Genre: </strong>{{genres}}</p>
		<p><strong>Director: </strong>{{director}}</p>
		<p><strong>Actors: </strong>{{actors}}</p>
		<p><strong>Plot: </strong>{{plot}}</p>
		{{/movies}}
	</script>

	<aside>	
		<ul id="genres"></ul>
	</aside>
	<main>
		<div id="movies"></div>
	</main>
	<input type="button" id="shut" value="X" onclick="closeMovieWindow()">
	<div id="movieWindow">

	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/mustache@2.3.0/mustache.min.js"></script>
	<script src="index.js"></script>
	<script>
		App.start();
	</script>
</body>
</html>